body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background: url(../images/background-home.png) no-repeat center center;
    background-size: cover;
    /* fundo sólido no lugar da imagem */
    color: white;
    text-align: center;


}

#titulo-ieadern {
    font-family: 'Ruda', 'DM Sans';
    margin-bottom: 0;
}

#subtitulo-ad {
    margin-top: 0;
    padding-top: 0;
    font-family: 'Philosopher', 'Ruda', 'DM Sans';
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    margin: 0;
    /* font-size: 50px; */
}

h1 {
    font-size: 50px;
    margin: 10px 0;
    max-width: 600px;
    line-height: 1.2;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 5px 0 30px;
}

p.versiculo {
    font-size: 1rem;
    margin-bottom: 30px;
    max-width: 600px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.menu a {
    display: block;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.menu a:hover {
    background-color: white;
    color: #1a1a1a;
}

.footer {
    margin-top: 40px;
    font-size: 0.9rem;
    opacity: 0.8;
}

.menu a.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
    /* Impede cliques e hover */
    position: relative;
    /* Necessário para o posicionamento absoluto do span */
    text-align: center;
    /* Garante que o texto do link esteja centralizado */
}

/* Garante que o hover não se aplique a links desabilitados */
.menu a.disabled:hover {
    background-color: transparent;
    color: white;
}

.soon-tag {
    position: absolute;
    /* Posiciona a tag em relação ao link */
    right: 12px;
    /* Distância da borda direita */
    top: 50%;
    /* Alinha verticalmente ao centro */
    transform: translateY(-50%);
    /* Ajuste fino do alinhamento vertical */
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 0.7rem;
    padding: 3px 8px;
    border-radius: 10px;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
    }

    .container {
        max-width: 90%;
        padding: 15px;
    }

    .menu {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    .logo img {
        height: 120px !important;
    }
}